body {

    background: url("../images/greenBackgroundImg.jpg") rgb(0, 0, 0);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    height: 100%;
    width: auto;
    z-index: 0;
    
 }
 /* body::before{
    background: url("../images/greenBackgroundImg.jpg") rgb(0, 0, 0);
    content: "";
    opacity: 0.9;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
 } */

  a {
    color: #000000;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }

  h1, h2 {
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    /* font-weight: 600; */
    /* display:inline-block; */
    /* margin: 40px 8px 10px 8px;  */
  }
  
  h1 {
      font-size: 32px;
  }

  h2{
      font-size: 16px;
  }

  *:focus {
    outline: none;
} 

  
/* ANIMATIONS */
  
  /* Fade-in-down Animation */

  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @-moz-keyframes fadeInDown{
    0%{
      opacity: 0;
      -moz-transform: translate3d(0,-100%,0);
      transform: translate3d(0, -100%, 0);
    }
    100%{
      opacity: 1;
      transform: none;
      -moz-transform: none;
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  


  /* Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* experimental */
  @keyframes fadeInWithShadow{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
      box-shadow: -10px, -5px, 5px, black;
    }
  }

  .fadeInWithShadow{
    animation: fadeInWithShadow ease-in 1;
    animation-fill-mode: forwards;
  }

/* .myClass img:nth-child(1) { animation-delay: .5s }
.myClass img:nth-child(2) { animation-delay: 1s }
.myClass img:nth-child(3) { animation-delay: 1.5s }
.myClass img:nth-child(4) { animation-delay: 2s } */

/* User status - is blocke or not */

.isBlocked{
  border-radius: 10px;
  border: 1px solid #ffffffc0;
  /* background-color: #9c9c9c; */
  width: fit-content;
  text-align: center;
}

.beforeBlock{
  text-align: center;
}

.blocked{
  background-color: #ff2828c0;
}

.unblocked{
  background-color: #28ff28c0;
}

.changeBlock{
  padding: 5px;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  
}
