
.top-menu {
    padding: 1px;
  left: 0;
  width: 100%;
  /* padding: 1px; */
  /* height: 100%; */
  background-color: #7585e2;  
}
.menu-main a:hover{
    background-color: #565677;
    transition: .3s linear;
}
.menu-main{
    margin-top: 5px;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
}
.menu-main a {
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;
    color: #ffffff;
    display: inline-block;
    /* padding: 10px, 20px; */
    background-color: rgb(184, 184, 248);
    border-bottom: 5px solid #5757a0;
    padding: 15px 30px;
    transition: .3s linear;
}

.menu-main li {
    display: inline;
}