#pagesDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pages{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    padding: 2px 10px;
    width:fit-content;
    background-color: aliceblue;
}
.pages a{
    margin-left: 2px;
    margin-right: 2px;
    padding: 3px 2px;
    border-radius: 4px;
}
.active {
    margin: 2px,1px;
    background-color: rgb(118, 228, 118);
}

.disabled {
    margin: 5px,2px;
}